<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Concurrent-->
    <add key="ConcurrentNumber" value="5"/>
    <!--Reade current running system culture if DefaultCulture is empty.-->
    <add key="DefaultCulture" value="en-US"/>
    <add key="SMTPHost" value="10.1.56.138"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPEnableSsl" value="false"/>
    <add key="SMTPUser" value="judywang@edb.com"/>
    <add key="SMTPPassword" value="1qaz2wsxEDB"/>
    
    <!--Ignore the first record of file if IgnoreFileHeader is true-->
    <add key="IgnoreFileHeader" value="false"/>
    <!--Default values-->
    <add key="DefaultIsHtmlBody" value="false"/>
    <add key="DefaultFrom" value="judywang@edb.com"/>
    <add key="DefaultFromName" value="Judy Wang"/>

    
    <!--item options-->
    <!--map the field index-->
    <add key="To" value="1"/>
    <add key="Subject" value="2"/>
    <add key="MailBody" value="3"/>
    <!--Optional Fields, if not 0, override the DefaultValue-->
    <add key="From" value="0"/>
    <add key="FromName" value="0"/>
    <add key="IsHtmlBody" value="0"/>
    <!--Special Optional Fields-->
    <add key="AttachmentPath" value="0"/>
    <!--Only affect correctly when ConcurrentNumber is 1-->
    <!--ms-->
    <add key="Interval" value="0"/>
    
  </appSettings>
</configuration>