<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Reade current running system culture if DefaultCulture is empty.-->
    <add key="DefaultCulture" value="en-US"/>
    <add key="SMTPHost" value="10.1.42.28"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPEnableSsl" value="false"/>
    <add key="SMTPUser" value="rpgadmin2@rpgdc.com"/>
    <add key="SMTPPassword" value="1qaz2wsxE"/>
    
    <!--Default values-->
    <add key="DefaultIsHtmlBody" value="true"/>
    <add key="DefaultFrom" value="rpgadmin2@rpgdc.com"/>
    <add key="DefaultFromName" value="RPGADMIN"/>
    
    
    <!--item options-->
    <!--map the field index-->
    <add key="To" value="Send to"/>
    <add key="Subject" value="Template No."/>
    <!--~~ means the value is a file reference-->
    <!--~~ only affects on mailbody-->
    <add key="MailBody" value="~~Template No."/>
    
    <!--Optional Fields, if not 0, override the DefaultValue-->
    <add key="From" value=""/>
    <add key="FromName" value=""/>
    <add key="IsHtmlBody" value=""/>
    <!--Special Optional Fields-->
    <add key="AttachmentPath" value=""/>
    <!--Only affect correctly when ConcurrentNumber is 1-->
    <!--ms-->
    <add key="Interval" value="0"/>

    <!--Template-->
    <!--Placeholder define-->
    <add key="::Company Name::" value="Company Name"/>
    <add key="::UEN::" value="UEN"/>
    <add key="::RRequested onsite HC::" value="Requested onsite HC"/>
    <add key="::Allowable manpower quota::" value="Allowable manpower quota"/>
    <add key="::System upload::" value="System upload"/>
    <add key="::MM prep::" value="MM prep"/>
    <add key="::Letter sent::" value="Letter sent"/>
    <add key="::Email address::" value="Email address"/>
    
  </appSettings>
</configuration>